<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col align-self-center">
        <!-- <div class="d-flex align-items-center"> -->
            <p>正確には1000円(以内)ガチャ</p>
            <p>お酒１本と残りの金額でおつまみ？を選定してくれます</p>
            <p style="font-size: small;">※注意：お酒には「本みりん」が含まれます</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <button class="btn btn-primary" type="button" onclick="click_func();">
                ガチャ！
            </button>
        </div>
    </div>

{% endblock %}
